<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1059314126277-j3u4ra4v6b4jrv8nbjgj7dv1tpnmd07d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059314126277-j3u4ra4v6b4jrv8nbjgj7dv1tpnmd07d</string>
	<key>API_KEY</key>
	<string>AIzaSyDj22BDcZrrZPxVYMSEcUh4ytva7vDu2mw</string>
	<key>GCM_SENDER_ID</key>
	<string>1059314126277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios</string>
	<key>PROJECT_ID</key>
	<string>fir-5-ed131</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-5-ed131.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059314126277:ios:d4848b0ef9c2908d</string>
	<key>DATABASE_URL</key>
	<string>https://fir-5-ed131.firebaseio.com</string>
</dict>
</plist>